
.icon-brush:before { content: '\e806'; } /* '' */
.icon-theatre:before { content: '\e809'; } /* '' */
.icon-town-hall:before { content: '\e804'; } /* '' */
.icon-warehouse:before { content: '\e803'; } /* '' */
.icon-color-adjust:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e800'; } /* '' */
.icon-book-1:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */